////////////////////////////////////// BOILERPLATE CSS

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}




////////////////////////////////////// SITE VARIABLES

$black: #191919;
$white00: #ffffff;
$white01: #fafafa;
$white02: #f4f4f4;

$transition: transform 400ms cubic-bezier(0.16, 1, 0.3, 1);




////////////////////////////////////// FONTS

@font-face {
    font-family: Glysa;
    src: url(https://halfnhalf.superhi.com/glysa.otf);
}

@font-face {
    font-family: Inter;
    src: url(https://halfnhalf.superhi.com/inter.var.woff2);
}

body {
	font-family: "Inter", Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.75;
}

h1 {
	font-size: 5vw;
	line-height:1;
	font-family:"Glysa", sans-serif;
  padding: 0 0 .75em 0;
}

h4{
	font-size:1.5em;
	line-height: 1.4;
	font-family: "Inter", Arial, Helvetica, sans-serif;
	font-variation-settings: "wght" 700;
	color: $black;
}

p {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-variation-settings: 'wght' 400;
  line-height: 1.6;
  max-width: 60ch;
}


////////////////////////////////////// GLOBAL

section{
  display:flex;
	flex-direction: row;
  
  div{
    width: 50%;
    padding:4vw;
  }
  
  .left{
    background: $black;
	  color: $white01;
    height: 100vh;
    position: sticky;
    position: -webkit-sticky;
    top:0;
    overflow: scroll;
    z-index: 10;
    
    p{
      padding: 0 0 1.25em 0;
      color: $white01;
      span{font-variation-settings: "slnt" -10, "wght" 450;}
    }
    
    a, a:visited{color:$white02; font-variation-settings: "wght" 700;}
    a:hover{font-variation-settings:  "slnt" -10, "wght" 700;}
  }
  
  a.project{
    text-decoration:none;
    background:$white00;
  }
  
  p {
    color: $black; 
    padding:0;
  }
  
  article:hover{
    background: $white02;
    
    h4{text-decoration:underline;}
    img {transform: scale(1.15);}
     border-radius: 32px;
  }  
}

.project-card{
  flex-direction: column;
  margin-bottom: clamp(1rem, 2vw, 2rem);
  padding: 1.5em;
  border-radius: 24px;
  max-width:auto;
  height:auto;
  
  .project-thumbnail{
    overflow:hidden;
    border-radius: 16px;
    aspect-ratio: 16/9;
    img{
      max-width:100%;
      object-fit:cover;
      transition:$transition;
    }
  }
  
  .project-content{
    flex-direction: column;
    display:inline;
    h4 {padding: 1em 0 .5em 0;}
    p {padding: 0 0 1em 0;}
    padding:0;
    margin:0;
  }
}





////////////////////////////////////// MOBILE MEDIUM

@media (max-width:900px){
	h1{
		font-size: 8vw;
	}

  h4{
    font-size:1.5em;
  }

	section{
		display: block;
    
    div{width:100%}
    div.left{height: auto;}
    
    .workobject{padding: 1em;}
	}
}



////////////////////////////////////// MOBILE SMALL

@media only screen and (max-width: 500px) {
	section{
		display: block;
    
    div{width:100%}
    div.left{
      height: auto;
      p{font-size:.8em;line-height:1.35em;}
    }
	}
}


////////////////////////////////////// DARKMODE

@media (prefers-color-scheme: dark) {
  
  body{
    background: $black;
    color: #d0d0d0;
  }
  
  section{
  .left{
    background-color:#373737;
    background-image: url("https://halfnhalf.superhi.com/darkgradient01.jpeg");
    background-size: cover;}
  }

 .right{
    p{color:#bfbfbf !important;}
    
    h4{color: #fafafa;}
  }

.project-card:hover{
  background: #373737;
}
  
}